.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    margin-top: 100px;
    align-items: center;
    width: 100vw;
    min-height: Calc(100vh - 100px);
}
.candidates{
    display: grid;
    width: 70vw;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    border-bottom: 1px solid chocolate;
}
.candidates h5 {
    text-align: center;
    border: 1px solid chocolate;
    overflow: hidden;
    border-bottom: none;
}

.candidates h4{
    color: #272727;
    text-align: center;
}
.candidates__column{
    border: solid 1px chocolate;
    border-bottom: 0;
    background: bisque;
}
.candidates__column:last-child{
    border: solid 1px chocolate;
}
@media screen and (max-width: 1400px) {
    .App{
        padding: 50px;
    }
}